@import '~normalize.css'
@import './styles/variables'

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

#stroke-text {
  animation-delay: $show-order2
}

// vue transation
#app-sidebar {
  transition-delay: $show-order3 !important
}

// generate by particle js
#particles-js {
  animation-delay: $show-order4
}
