@import '~normalize.css'

@import './stylus/variables'
@import './stylus/showOrder'
@import './stylus/extends'

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
