$show-order2 = 2s
$show-order3 = 3s
$show-order4 = 4s

#stroke-dash, .job-title, .tags {
  transition-delay: $show-order2 !important
}

// vue transation
#app-sidebar {
  transition-delay: $show-order3 !important
}

#head-boy {
  transition-delay: $show-order4 !important
}
