$show-order2 = 2s
$show-order3 = 3s
$show-order4 = 4s

#stroke-dash, #job-title {
  animation-delay: $show-order2 !important
}

// vue transation
#app-sidebar {
  transition-delay: $show-order3 !important
}

// particles-js generate by particle js
#particles-js, #head-boy {
  animation-delay: $show-order4 !important
}
