$show-order2 = 2s
$show-order3 = 3s
$show-order4 = 4s

.i-stroke-dash-text, .job-title, .main-skill-tags-container {
  transition-delay: $show-order2 !important
}

#app-sidebar {
  transition-delay: $show-order3 !important
}

.helper-major {
  transition-delay: $show-order4 !important
}
