$mobile-break-point = 768px
$pad-break-point = 1024px

$mobile-header-height = 85px
$sidebar-width = 180px
$helper-footer-height = 85px

$white = #fff
$black = #000
$dark-gray = #444
$light-gray = #bbb

$green = #0f0
$green2 = #007f7f
$cyan = #0ff
$cyan2 = #7fffff
$blue = #2669ff
$light-blue = #4380Be
$light-blue2 = #47a1ff
$purple = #7477d1
$yellow = #f4f4c2

