$mobileBreakPoint = 768px

$white = #fff
$black = #000
$dark-gray = #444
$light-gray = #bbb

$green = #0f0
$green2 = #007f7f
$cyan = #0ff
$cyan2 = #7fffff
$blue = #2669ff
$light-blue = #4380Be
$light-blue2 = #47a1ff

$appSidebarWidth = 156px
